@import "tailwindcss";

@theme {
  --color-brand-50: #f0f9f7;
  --color-brand-100: #dcf2ed;
  --color-brand-200: #bbe5db;
  --color-brand-300: #8dd3c3;
  --color-brand-400: #58baa4;
  --color-brand-500: #1ab394;
  --color-brand-600: #159178;
  --color-brand-700: #137562;
  --color-brand-800: #135d50;
  --color-brand-900: #124d43;

  --color-button-primary: oklch(80% 30% 50deg);
  --color-button-primary-hover: oklch(80% 30% 50deg / 75%);
  --color-button-primary-text: oklch(100% 10% 30deg);
  --color-button-secondary: oklch(96% 8% 171deg);
  --color-button-secondary-text: oklch(72% 27% 173deg);
  --color-button-secondary-disabled: oklch(96% 8% 171deg / 75%);
}

@font-face {
  font-family: Geomanist;
  src:
    url(https://cdn.prod.website-files.com/651149b4877f98f4d7cf8a6d/65114a68b86986a5ca5f3afd_Geomanist-ExtraLight-Italic.otf)
      format("opentype"),
    url(https://cdn.prod.website-files.com/651149b4877f98f4d7cf8a6d/65114a69b082e8d7ca2b455c_Geomanist-ExtraLight.otf)
      format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
